/**
!    Blank-less
!    http://www.proje.com
!    Omer Aslanbakan
!    omer@aslanbakan.com
!    http://aslanbakan.com
*/
.xs-p-5 {
  padding: 5;
}

.xs-p-10 {
  padding: 10;
}

.xs-p-15 {
  padding: 15;
}

.xs-p-20 {
  padding: 20;
}

.xs-p-30 {
  padding: 30;
}

.xs-p-40 {
  padding: 40;
}

.xs-p-50 {
  padding: 50;
}

.xs-pt-5 {
  padding-top: 5;
}

.xs-pt-10 {
  padding-top: 10;
}

.xs-pt-15 {
  padding-top: 15;
}

.xs-pt-20 {
  padding-top: 20;
}

.xs-pt-30 {
  padding-top: 30;
}

.xs-pt-40 {
  padding-top: 40;
}

.xs-pt-50 {
  padding-top: 50;
}

.xs-pr-5 {
  padding-right: 5;
}

.xs-pr-10 {
  padding-right: 10;
}

.xs-pr-15 {
  padding-right: 15;
}

.xs-pr-20 {
  padding-right: 20;
}

.xs-pr-30 {
  padding-right: 30;
}

.xs-pr-40 {
  padding-right: 40;
}

.xs-pr-50 {
  padding-right: 50;
}

.xs-pb-5 {
  padding-bottom: 5;
}

.xs-pb-10 {
  padding-bottom: 10;
}

.xs-pb-15 {
  padding-bottom: 15;
}

.xs-pb-20 {
  padding-bottom: 20;
}

.xs-pb-30 {
  padding-bottom: 30;
}

.xs-pb-40 {
  padding-bottom: 40;
}

.xs-pb-50 {
  padding-bottom: 50;
}

.xs-pl-5 {
  padding-left: 5;
}

.xs-pl-10 {
  padding-left: 10;
}

.xs-pl-15 {
  padding-left: 15;
}

.xs-pl-20 {
  padding-left: 20;
}

.xs-pl-30 {
  padding-left: 30;
}

.xs-pl-40 {
  padding-left: 40;
}

.xs-pl-50 {
  padding-left: 50;
}

.xs-m-5 {
  margin: 5;
}

.xs-m-10 {
  margin: 10;
}

.xs-m-15 {
  margin: 15;
}

.xs-m-20 {
  margin: 20;
}

.xs-m-30 {
  margin: 30;
}

.xs-m-40 {
  margin: 40;
}

.xs-m-50 {
  margin: 50;
}

.xs-mt-5 {
  margin-top: 5;
}

.xs-mt-10 {
  margin-top: 10;
}

.xs-mt-15 {
  margin-top: 15;
}

.xs-mt-20 {
  margin-top: 20;
}

.xs-mt-30 {
  margin-top: 30;
}

.xs-mt-40 {
  margin-top: 40;
}

.xs-mt-50 {
  margin-top: 50;
}

.xs-mr-5 {
  margin-right: 5;
}

.xs-mr-10 {
  margin-right: 10;
}

.xs-mr-15 {
  margin-right: 15;
}

.xs-mr-20 {
  margin-right: 20;
}

.xs-mr-30 {
  margin-right: 30;
}

.xs-mr-40 {
  margin-right: 40;
}

.xs-mr-50 {
  margin-right: 50;
}

.xs-mb-5 {
  margin-bottom: 5;
}

.xs-mb-10 {
  margin-bottom: 10;
}

.xs-mb-15 {
  margin-bottom: 15;
}

.xs-mb-20 {
  margin-bottom: 20;
}

.xs-mb-30 {
  margin-bottom: 30;
}

.xs-mb-40 {
  margin-bottom: 40;
}

.xs-mb-50 {
  margin-bottom: 50;
}

.xs-ml-5 {
  margin-left: 5;
}

.xs-ml-10 {
  margin-left: 10;
}

.xs-ml-15 {
  margin-left: 15;
}

.xs-ml-20 {
  margin-left: 20;
}

.xs-ml-30 {
  margin-left: 30;
}

.xs-ml-40 {
  margin-left: 40;
}

.xs-ml-50 {
  margin-left: 50;
}

@media screen and (min-width: 34em) {
  .sm-p-5 {
    padding: 5;
  }

  .sm-p-10 {
    padding: 10;
  }

  .sm-p-15 {
    padding: 15;
  }

  .sm-p-20 {
    padding: 20;
  }

  .sm-p-30 {
    padding: 30;
  }

  .sm-p-40 {
    padding: 40;
  }

  .sm-p-50 {
    padding: 50;
  }

  .sm-pt-5 {
    padding-top: 5;
  }

  .sm-pt-10 {
    padding-top: 10;
  }

  .sm-pt-15 {
    padding-top: 15;
  }

  .sm-pt-20 {
    padding-top: 20;
  }

  .sm-pt-30 {
    padding-top: 30;
  }

  .sm-pt-40 {
    padding-top: 40;
  }

  .sm-pt-50 {
    padding-top: 50;
  }

  .sm-pr-5 {
    padding-right: 5;
  }

  .sm-pr-10 {
    padding-right: 10;
  }

  .sm-pr-15 {
    padding-right: 15;
  }

  .sm-pr-20 {
    padding-right: 20;
  }

  .sm-pr-30 {
    padding-right: 30;
  }

  .sm-pr-40 {
    padding-right: 40;
  }

  .sm-pr-50 {
    padding-right: 50;
  }

  .sm-pb-5 {
    padding-bottom: 5;
  }

  .sm-pb-10 {
    padding-bottom: 10;
  }

  .sm-pb-15 {
    padding-bottom: 15;
  }

  .sm-pb-20 {
    padding-bottom: 20;
  }

  .sm-pb-30 {
    padding-bottom: 30;
  }

  .sm-pb-40 {
    padding-bottom: 40;
  }

  .sm-pb-50 {
    padding-bottom: 50;
  }

  .sm-pl-5 {
    padding-left: 5;
  }

  .sm-pl-10 {
    padding-left: 10;
  }

  .sm-pl-15 {
    padding-left: 15;
  }

  .sm-pl-20 {
    padding-left: 20;
  }

  .sm-pl-30 {
    padding-left: 30;
  }

  .sm-pl-40 {
    padding-left: 40;
  }

  .sm-pl-50 {
    padding-left: 50;
  }

  .sm-m-5 {
    margin: 5;
  }

  .sm-m-10 {
    margin: 10;
  }

  .sm-m-15 {
    margin: 15;
  }

  .sm-m-20 {
    margin: 20;
  }

  .sm-m-30 {
    margin: 30;
  }

  .sm-m-40 {
    margin: 40;
  }

  .sm-m-50 {
    margin: 50;
  }

  .sm-mt-5 {
    margin-top: 5;
  }

  .sm-mt-10 {
    margin-top: 10;
  }

  .sm-mt-15 {
    margin-top: 15;
  }

  .sm-mt-20 {
    margin-top: 20;
  }

  .sm-mt-30 {
    margin-top: 30;
  }

  .sm-mt-40 {
    margin-top: 40;
  }

  .sm-mt-50 {
    margin-top: 50;
  }

  .sm-mr-5 {
    margin-right: 5;
  }

  .sm-mr-10 {
    margin-right: 10;
  }

  .sm-mr-15 {
    margin-right: 15;
  }

  .sm-mr-20 {
    margin-right: 20;
  }

  .sm-mr-30 {
    margin-right: 30;
  }

  .sm-mr-40 {
    margin-right: 40;
  }

  .sm-mr-50 {
    margin-right: 50;
  }

  .sm-mb-5 {
    margin-bottom: 5;
  }

  .sm-mb-10 {
    margin-bottom: 10;
  }

  .sm-mb-15 {
    margin-bottom: 15;
  }

  .sm-mb-20 {
    margin-bottom: 20;
  }

  .sm-mb-30 {
    margin-bottom: 30;
  }

  .sm-mb-40 {
    margin-bottom: 40;
  }

  .sm-mb-50 {
    margin-bottom: 50;
  }

  .sm-ml-5 {
    margin-left: 5;
  }

  .sm-ml-10 {
    margin-left: 10;
  }

  .sm-ml-15 {
    margin-left: 15;
  }

  .sm-ml-20 {
    margin-left: 20;
  }

  .sm-ml-30 {
    margin-left: 30;
  }

  .sm-ml-40 {
    margin-left: 40;
  }

  .sm-ml-50 {
    margin-left: 50;
  }
}
@media screen and (min-width: 48em) {
  .md-p-5 {
    padding: 5;
  }

  .md-p-10 {
    padding: 10;
  }

  .md-p-15 {
    padding: 15;
  }

  .md-p-20 {
    padding: 20;
  }

  .md-p-30 {
    padding: 30;
  }

  .md-p-40 {
    padding: 40;
  }

  .md-p-50 {
    padding: 50;
  }

  .md-pt-5 {
    padding-top: 5;
  }

  .md-pt-10 {
    padding-top: 10;
  }

  .md-pt-15 {
    padding-top: 15;
  }

  .md-pt-20 {
    padding-top: 20;
  }

  .md-pt-30 {
    padding-top: 30;
  }

  .md-pt-40 {
    padding-top: 40;
  }

  .md-pt-50 {
    padding-top: 50;
  }

  .md-pr-5 {
    padding-right: 5;
  }

  .md-pr-10 {
    padding-right: 10;
  }

  .md-pr-15 {
    padding-right: 15;
  }

  .md-pr-20 {
    padding-right: 20;
  }

  .md-pr-30 {
    padding-right: 30;
  }

  .md-pr-40 {
    padding-right: 40;
  }

  .md-pr-50 {
    padding-right: 50;
  }

  .md-pb-5 {
    padding-bottom: 5;
  }

  .md-pb-10 {
    padding-bottom: 10;
  }

  .md-pb-15 {
    padding-bottom: 15;
  }

  .md-pb-20 {
    padding-bottom: 20;
  }

  .md-pb-30 {
    padding-bottom: 30;
  }

  .md-pb-40 {
    padding-bottom: 40;
  }

  .md-pb-50 {
    padding-bottom: 50;
  }

  .md-pl-5 {
    padding-left: 5;
  }

  .md-pl-10 {
    padding-left: 10;
  }

  .md-pl-15 {
    padding-left: 15;
  }

  .md-pl-20 {
    padding-left: 20;
  }

  .md-pl-30 {
    padding-left: 30;
  }

  .md-pl-40 {
    padding-left: 40;
  }

  .md-pl-50 {
    padding-left: 50;
  }

  .md-m-5 {
    margin: 5;
  }

  .md-m-10 {
    margin: 10;
  }

  .md-m-15 {
    margin: 15;
  }

  .md-m-20 {
    margin: 20;
  }

  .md-m-30 {
    margin: 30;
  }

  .md-m-40 {
    margin: 40;
  }

  .md-m-50 {
    margin: 50;
  }

  .md-mt-5 {
    margin-top: 5;
  }

  .md-mt-10 {
    margin-top: 10;
  }

  .md-mt-15 {
    margin-top: 15;
  }

  .md-mt-20 {
    margin-top: 20;
  }

  .md-mt-30 {
    margin-top: 30;
  }

  .md-mt-40 {
    margin-top: 40;
  }

  .md-mt-50 {
    margin-top: 50;
  }

  .md-mr-5 {
    margin-right: 5;
  }

  .md-mr-10 {
    margin-right: 10;
  }

  .md-mr-15 {
    margin-right: 15;
  }

  .md-mr-20 {
    margin-right: 20;
  }

  .md-mr-30 {
    margin-right: 30;
  }

  .md-mr-40 {
    margin-right: 40;
  }

  .md-mr-50 {
    margin-right: 50;
  }

  .md-mb-5 {
    margin-bottom: 5;
  }

  .md-mb-10 {
    margin-bottom: 10;
  }

  .md-mb-15 {
    margin-bottom: 15;
  }

  .md-mb-20 {
    margin-bottom: 20;
  }

  .md-mb-30 {
    margin-bottom: 30;
  }

  .md-mb-40 {
    margin-bottom: 40;
  }

  .md-mb-50 {
    margin-bottom: 50;
  }

  .md-ml-5 {
    margin-left: 5;
  }

  .md-ml-10 {
    margin-left: 10;
  }

  .md-ml-15 {
    margin-left: 15;
  }

  .md-ml-20 {
    margin-left: 20;
  }

  .md-ml-30 {
    margin-left: 30;
  }

  .md-ml-40 {
    margin-left: 40;
  }

  .md-ml-50 {
    margin-left: 50;
  }
}
@media screen and (min-width: 62em) {
  .lg-p-5 {
    padding: 5;
  }

  .lg-p-10 {
    padding: 10;
  }

  .lg-p-15 {
    padding: 15;
  }

  .lg-p-20 {
    padding: 20;
  }

  .lg-p-30 {
    padding: 30;
  }

  .lg-p-40 {
    padding: 40;
  }

  .lg-p-50 {
    padding: 50;
  }

  .lg-pt-5 {
    padding-top: 5;
  }

  .lg-pt-10 {
    padding-top: 10;
  }

  .lg-pt-15 {
    padding-top: 15;
  }

  .lg-pt-20 {
    padding-top: 20;
  }

  .lg-pt-30 {
    padding-top: 30;
  }

  .lg-pt-40 {
    padding-top: 40;
  }

  .lg-pt-50 {
    padding-top: 50;
  }

  .lg-pr-5 {
    padding-right: 5;
  }

  .lg-pr-10 {
    padding-right: 10;
  }

  .lg-pr-15 {
    padding-right: 15;
  }

  .lg-pr-20 {
    padding-right: 20;
  }

  .lg-pr-30 {
    padding-right: 30;
  }

  .lg-pr-40 {
    padding-right: 40;
  }

  .lg-pr-50 {
    padding-right: 50;
  }

  .lg-pb-5 {
    padding-bottom: 5;
  }

  .lg-pb-10 {
    padding-bottom: 10;
  }

  .lg-pb-15 {
    padding-bottom: 15;
  }

  .lg-pb-20 {
    padding-bottom: 20;
  }

  .lg-pb-30 {
    padding-bottom: 30;
  }

  .lg-pb-40 {
    padding-bottom: 40;
  }

  .lg-pb-50 {
    padding-bottom: 50;
  }

  .lg-pl-5 {
    padding-left: 5;
  }

  .lg-pl-10 {
    padding-left: 10;
  }

  .lg-pl-15 {
    padding-left: 15;
  }

  .lg-pl-20 {
    padding-left: 20;
  }

  .lg-pl-30 {
    padding-left: 30;
  }

  .lg-pl-40 {
    padding-left: 40;
  }

  .lg-pl-50 {
    padding-left: 50;
  }

  .lg-m-5 {
    margin: 5;
  }

  .lg-m-10 {
    margin: 10;
  }

  .lg-m-15 {
    margin: 15;
  }

  .lg-m-20 {
    margin: 20;
  }

  .lg-m-30 {
    margin: 30;
  }

  .lg-m-40 {
    margin: 40;
  }

  .lg-m-50 {
    margin: 50;
  }

  .lg-mt-5 {
    margin-top: 5;
  }

  .lg-mt-10 {
    margin-top: 10;
  }

  .lg-mt-15 {
    margin-top: 15;
  }

  .lg-mt-20 {
    margin-top: 20;
  }

  .lg-mt-30 {
    margin-top: 30;
  }

  .lg-mt-40 {
    margin-top: 40;
  }

  .lg-mt-50 {
    margin-top: 50;
  }

  .lg-mr-5 {
    margin-right: 5;
  }

  .lg-mr-10 {
    margin-right: 10;
  }

  .lg-mr-15 {
    margin-right: 15;
  }

  .lg-mr-20 {
    margin-right: 20;
  }

  .lg-mr-30 {
    margin-right: 30;
  }

  .lg-mr-40 {
    margin-right: 40;
  }

  .lg-mr-50 {
    margin-right: 50;
  }

  .lg-mb-5 {
    margin-bottom: 5;
  }

  .lg-mb-10 {
    margin-bottom: 10;
  }

  .lg-mb-15 {
    margin-bottom: 15;
  }

  .lg-mb-20 {
    margin-bottom: 20;
  }

  .lg-mb-30 {
    margin-bottom: 30;
  }

  .lg-mb-40 {
    margin-bottom: 40;
  }

  .lg-mb-50 {
    margin-bottom: 50;
  }

  .lg-ml-5 {
    margin-left: 5;
  }

  .lg-ml-10 {
    margin-left: 10;
  }

  .lg-ml-15 {
    margin-left: 15;
  }

  .lg-ml-20 {
    margin-left: 20;
  }

  .lg-ml-30 {
    margin-left: 30;
  }

  .lg-ml-40 {
    margin-left: 40;
  }

  .lg-ml-50 {
    margin-left: 50;
  }
}
@media screen and (min-width: 75em) {
  .xl-p-5 {
    padding: 5;
  }

  .xl-p-10 {
    padding: 10;
  }

  .xl-p-15 {
    padding: 15;
  }

  .xl-p-20 {
    padding: 20;
  }

  .xl-p-30 {
    padding: 30;
  }

  .xl-p-40 {
    padding: 40;
  }

  .xl-p-50 {
    padding: 50;
  }

  .xl-pt-5 {
    padding-top: 5;
  }

  .xl-pt-10 {
    padding-top: 10;
  }

  .xl-pt-15 {
    padding-top: 15;
  }

  .xl-pt-20 {
    padding-top: 20;
  }

  .xl-pt-30 {
    padding-top: 30;
  }

  .xl-pt-40 {
    padding-top: 40;
  }

  .xl-pt-50 {
    padding-top: 50;
  }

  .xl-pr-5 {
    padding-right: 5;
  }

  .xl-pr-10 {
    padding-right: 10;
  }

  .xl-pr-15 {
    padding-right: 15;
  }

  .xl-pr-20 {
    padding-right: 20;
  }

  .xl-pr-30 {
    padding-right: 30;
  }

  .xl-pr-40 {
    padding-right: 40;
  }

  .xl-pr-50 {
    padding-right: 50;
  }

  .xl-pb-5 {
    padding-bottom: 5;
  }

  .xl-pb-10 {
    padding-bottom: 10;
  }

  .xl-pb-15 {
    padding-bottom: 15;
  }

  .xl-pb-20 {
    padding-bottom: 20;
  }

  .xl-pb-30 {
    padding-bottom: 30;
  }

  .xl-pb-40 {
    padding-bottom: 40;
  }

  .xl-pb-50 {
    padding-bottom: 50;
  }

  .xl-pl-5 {
    padding-left: 5;
  }

  .xl-pl-10 {
    padding-left: 10;
  }

  .xl-pl-15 {
    padding-left: 15;
  }

  .xl-pl-20 {
    padding-left: 20;
  }

  .xl-pl-30 {
    padding-left: 30;
  }

  .xl-pl-40 {
    padding-left: 40;
  }

  .xl-pl-50 {
    padding-left: 50;
  }

  .xl-m-5 {
    margin: 5;
  }

  .xl-m-10 {
    margin: 10;
  }

  .xl-m-15 {
    margin: 15;
  }

  .xl-m-20 {
    margin: 20;
  }

  .xl-m-30 {
    margin: 30;
  }

  .xl-m-40 {
    margin: 40;
  }

  .xl-m-50 {
    margin: 50;
  }

  .xl-mt-5 {
    margin-top: 5;
  }

  .xl-mt-10 {
    margin-top: 10;
  }

  .xl-mt-15 {
    margin-top: 15;
  }

  .xl-mt-20 {
    margin-top: 20;
  }

  .xl-mt-30 {
    margin-top: 30;
  }

  .xl-mt-40 {
    margin-top: 40;
  }

  .xl-mt-50 {
    margin-top: 50;
  }

  .xl-mr-5 {
    margin-right: 5;
  }

  .xl-mr-10 {
    margin-right: 10;
  }

  .xl-mr-15 {
    margin-right: 15;
  }

  .xl-mr-20 {
    margin-right: 20;
  }

  .xl-mr-30 {
    margin-right: 30;
  }

  .xl-mr-40 {
    margin-right: 40;
  }

  .xl-mr-50 {
    margin-right: 50;
  }

  .xl-mb-5 {
    margin-bottom: 5;
  }

  .xl-mb-10 {
    margin-bottom: 10;
  }

  .xl-mb-15 {
    margin-bottom: 15;
  }

  .xl-mb-20 {
    margin-bottom: 20;
  }

  .xl-mb-30 {
    margin-bottom: 30;
  }

  .xl-mb-40 {
    margin-bottom: 40;
  }

  .xl-mb-50 {
    margin-bottom: 50;
  }

  .xl-ml-5 {
    margin-left: 5;
  }

  .xl-ml-10 {
    margin-left: 10;
  }

  .xl-ml-15 {
    margin-left: 15;
  }

  .xl-ml-20 {
    margin-left: 20;
  }

  .xl-ml-30 {
    margin-left: 30;
  }

  .xl-ml-40 {
    margin-left: 40;
  }

  .xl-ml-50 {
    margin-left: 50;
  }
}
.flex-display {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex-display-inline {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.flex-col {
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.flex-row-reverse {
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.flex-col-reverse {
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.flex-wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-nowrap {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.flex-wrap-reverse {
  -webkit-flex-wrap: wrap-reverse;
  -ms-flex-wrap: wrap-reverse;
  -moz-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

.flex-justify-start {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.flex-justify-end {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.flex-justify-center {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex-justify-between {
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex-justify-around {
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.flex-items-start {
  -webkit-box-align: start;
  -moz-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.flex-items-end {
  -webkit-box-align: end;
  -moz-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.flex-items-center {
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-items-baseline {
  -webkit-box-align: baseline;
  -moz-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.flex-items-stretch {
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.flex-content-start {
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.flex-content-end {
  -webkit-align-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end;
}

.flex-content-center {
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.flex-content-between {
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
}

.flex-content-around {
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: Space-around;
}

.flex-content-stretch {
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.flex-self-auto {
  -ms-flex-item-align: auto;
  -webkit-align-self: auto;
  -moz-align-self: auto;
  align-self: auto;
}

.flex-self-start {
  -ms-flex-item-align: flex-start;
  -webkit-align-self: flex-start;
  -moz-align-self: flex-start;
  align-self: flex-start;
}

.flex-self-end {
  -ms-flex-item-align: flex-end;
  -webkit-align-self: flex-end;
  -moz-align-self: flex-end;
  align-self: flex-end;
}

.flex-self-center {
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  -moz-align-self: center;
  align-self: center;
}

.flex-self-baseline {
  -ms-flex-item-align: baseline;
  -webkit-align-self: baseline;
  -moz-align-self: baseline;
  align-self: baseline;
}

.flex-self-stretch {
  -ms-flex-item-align: stretch;
  -webkit-align-self: stretch;
  -moz-align-self: stretch;
  align-self: stretch;
}

.flex-grow {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

/*=================================
//            OPEN SANS           =
=================================*/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/DXI1ORHCpsQm3Vp6mXoaTRa1RVmPjeKy21_GQJaLlJI.woff) format("woff");
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/u-WUoqrET9fUeobQW7jkRT8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/MTP_ySUJH_bn48VBG8sNSha1RVmPjeKy21_GQJaLlJI.woff) format("woff");
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzBa1RVmPjeKy21_GQJaLlJI.woff) format("woff");
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local("Open Sans Light Italic"), local("OpenSansLight-Italic"), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxrsuoFAk0leveMLeqYtnfAY.woff) format("woff");
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/xjAJXh38I15wypJXxuGMBtIh4imgI8P11RFo6YPCPC0.woff) format("woff");
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local("Open Sans Semibold Italic"), local("OpenSans-SemiboldItalic"), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxmWeb5PoA5ztb49yLyUzH1A.woff) format("woff");
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxoUt79146ZFaIJxILcpzmhI.woff) format("woff");
}
/*-----  End of OPEN SANS  ------*/
.radio-custom,
.checkbox-custom {
  margin-bottom: 13.4px;
}
.radio-custom label,
.radio-custom label:before,
.radio-custom label:after,
.checkbox-custom label,
.checkbox-custom label:before,
.checkbox-custom label:after {
  -webkit-transition: all 0.08s linear;
  -moz-transition: all 0.08s linear;
  -ms-transition: all 0.08s linear;
  -o-transition: all 0.08s linear;
  transition: all 0.08s linear;
}

.checkbox-custom input[type="checkbox"] {
  display: none;
}
.checkbox-custom input[type="checkbox"] + label {
  padding-left: 26px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  position: relative;
}
.checkbox-custom input[type="checkbox"] + label:after {
  content: "";
  z-index: 1;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  border: 2px solid #337ab7;
}
.checkbox-custom input[type="checkbox"] + label:before {
  content: "\f00c";
  z-index: 2;
  display: block;
  width: 20px;
  line-height: 20px;
  position: absolute;
  top: 50%;
  left: 0;
  text-align: center;
  -webkit-transform: translate(0, -50%) scale(0);
  -moz-transform: translate(0, -50%) scale(0);
  -ms-transform: translate(0, -50%) scale(0);
  -o-transform: translate(0, -50%) scale(0);
  transform: translate(0, -50%) scale(0);
  color: #337AB7;
  font-family: FontAwesome;
  font-size: 14px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.checkbox-custom input[type="checkbox"]:not(:checked) + label:after {
  border-color: #337ab7;
}
.checkbox-custom input[type="checkbox"]:not(:checked) + label:hover:after {
  border-color: #337AB7;
}
.checkbox-custom input[type="checkbox"]:checked + label:after {
  border-color: #337AB7;
}
.checkbox-custom input[type="checkbox"]:checked + label:before {
  -webkit-transform: translate(0, -50%) scale(1);
  -moz-transform: translate(0, -50%) scale(1);
  -ms-transform: translate(0, -50%) scale(1);
  -o-transform: translate(0, -50%) scale(1);
  transform: translate(0, -50%) scale(1);
}
.checkbox-custom input[type="checkbox"][disabled] + label {
  cursor: not-allowed;
  cursor: disabled;
}
.checkbox-custom.checkbox-fill input[type="checkbox"] + label:before {
  color: #fff;
  -webkit-transition-delay: 0.05s;
  -moz-transition-delay: 0.05s;
  -ms-transition-delay: 0.05s;
  -o-transition-delay: 0.05s;
  transition-delay: 0.05s;
}
.checkbox-custom.checkbox-fill input[type="checkbox"]:checked + label:after {
  background-color: #337AB7;
}
.checkbox-custom.checkbox-fill input[type="checkbox"]:checked + label:before {
  color: #fff;
  -webkit-transform: translate(0, -50%) scale(1);
  -moz-transform: translate(0, -50%) scale(1);
  -ms-transform: translate(0, -50%) scale(1);
  -o-transform: translate(0, -50%) scale(1);
  transform: translate(0, -50%) scale(1);
}

.radio-custom {
  display: inline-block;
  margin-right: 20px;
}
.radio-custom input[type="radio"] {
  display: none;
}
.radio-custom input[type="radio"] + label {
  padding-left: 26px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  position: relative;
}
.radio-custom input[type="radio"] + label:after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  border: 2px solid #337ab7;
  border-radius: 20px;
}
.radio-custom input[type="radio"] + label:before {
  content: "\f111";
  display: block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  position: absolute;
  top: 50%;
  left: 0;
  text-align: center;
  -webkit-transform: translate(0, -50%) scale(0);
  -moz-transform: translate(0, -50%) scale(0);
  -ms-transform: translate(0, -50%) scale(0);
  -o-transform: translate(0, -50%) scale(0);
  transform: translate(0, -50%) scale(0);
  color: #337AB7;
  font-family: FontAwesome;
  font-size: 10px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.radio-custom input[type="radio"]:not(:checked) + label:after {
  border-color: #337ab7;
}
.radio-custom input[type="radio"]:not(:checked) + label:hover:after {
  border-color: #337AB7;
}
.radio-custom input[type="radio"]:checked + label:after {
  border-color: #337AB7;
}
.radio-custom input[type="radio"]:checked + label:before {
  -webkit-transform: translate(0, -50%) scale(1);
  -moz-transform: translate(0, -50%) scale(1);
  -ms-transform: translate(0, -50%) scale(1);
  -o-transform: translate(0, -50%) scale(1);
  transform: translate(0, -50%) scale(1);
}

.f1 {
  font-family: Arial, Helvetica, sans-serif;
}

.f2 {
  font-family: Verdana, Geneva, sans-serif;
}

.fw100 {
  font-weight: 100;
}

.fw200 {
  font-weight: 200;
}

.fw300 {
  font-weight: 300;
}

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.fw600 {
  font-weight: 600;
}

.fw700 {
  font-weight: 700;
}

.fw800 {
  font-weight: 800;
}

.fw900 {
  font-weight: 900;
}

.fz5 {
  font-size: 5px;
}

.fz6 {
  font-size: 6px;
}

.fz7 {
  font-size: 7px;
}

.fz8 {
  font-size: 8px;
}

.fz9 {
  font-size: 9px;
}

.fz10 {
  font-size: 10px;
}

.fz11 {
  font-size: 11px;
}

.fz12 {
  font-size: 12px;
}

.fz13 {
  font-size: 13px;
}

.fz14 {
  font-size: 14px;
}

.fz15 {
  font-size: 15px;
}

.fz16 {
  font-size: 16px;
}

.fz17 {
  font-size: 17px;
}

.fz18 {
  font-size: 18px;
}

.fz19 {
  font-size: 19px;
}

.fz20 {
  font-size: 20px;
}

.fz21 {
  font-size: 21px;
}

.fz22 {
  font-size: 22px;
}

.fz23 {
  font-size: 23px;
}

.fz24 {
  font-size: 24px;
}

.fz25 {
  font-size: 25px;
}

.fz26 {
  font-size: 26px;
}

.fz27 {
  font-size: 27px;
}

.fz28 {
  font-size: 28px;
}

.fz29 {
  font-size: 29px;
}

.fz30 {
  font-size: 30px;
}

.fz31 {
  font-size: 31px;
}

.fz32 {
  font-size: 32px;
}

.fz33 {
  font-size: 33px;
}

.fz34 {
  font-size: 34px;
}

.fz35 {
  font-size: 35px;
}

.fz36 {
  font-size: 36px;
}

.fz37 {
  font-size: 37px;
}

.fz38 {
  font-size: 38px;
}

.fz39 {
  font-size: 39px;
}

.fz40 {
  font-size: 40px;
}

.fz41 {
  font-size: 41px;
}

.fz42 {
  font-size: 42px;
}

.fz43 {
  font-size: 43px;
}

.fz44 {
  font-size: 44px;
}

.fz45 {
  font-size: 45px;
}

.fz46 {
  font-size: 46px;
}

.fz47 {
  font-size: 47px;
}

.fz48 {
  font-size: 48px;
}

.fz49 {
  font-size: 49px;
}

.fz50 {
  font-size: 50px;
}

.loading:after {
  content: "";
  margin: 0;
  font-size: 0.4em;
  position: absolute;
  text-indent: -9999em;
  border-top: 3px solid rgba(0, 0, 0, 0.1);
  border-right: 3px solid rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  border-left: 3px solid red;
  -webkit-animation: spin 0.7s infinite linear;
  -moz-animation: spin 0.7s infinite linear;
  -ms-animation: spin 0.7s infinite linear;
  -o-animation: spin 0.7s infinite linear;
  animation: spin 0.7s infinite linear;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.dim {
  position: relative;
}
.dim:before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 110;
}

.static {
  position: relative;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.visible-on {
  visibility: visible;
}

.visible-off {
  visibility: hidden;
}

.opacity0 {
  opacity: 0;
}

.opacity1 {
  opacity: 1;
}

.img-scale {
  width: 100%;
  height: auto;
}

.resize-vertical {
  resize: vertical;
}

.resize-horizontal {
  resize: horizontal;
}

.resize-none {
  resize: none;
}

.hidden-visually,
.hidden-input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

i.icon-2x {
  font-size: 110%;
}

i.icon-3x {
  font-size: 130%;
}

i.icon-4x {
  font-size: 160%;
}

i.icon-5x {
  font-size: 200%;
}

i.icon-6x {
  font-size: 260%;
}

i.icon-7x {
  font-size: 320%;
}

i.icon-8x {
  font-size: 400%;
}

i.icon-9x {
  font-size: 500%;
}

i.icon-10x {
  font-size: 700%;
}

.icon-spin {
  display: inline-block;
  -webkit-animation: spin 4s infinite linear;
  -moz-animation: spin 4s infinite linear;
  -ms-animation: spin 4s infinite linear;
  -o-animation: spin 4s infinite linear;
  animation: spin 4s infinite linear;
}

@-moz-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

select:not([multiple]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABkCAMAAAABisbMAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAACEUExURQAAAGNjY2BgYGJiYmBgYICAgGJiYmNjY2JiYmRkZGFhYWNjY2ZmZmRkZGJiYmNjY2NjY2NjY2FhYWNjY15eXmRkZGNjY2JiYmlpaV1dXWNjY2JiYmZmZmNjY2JiYmRkZGhoaGJiYlpaWmFhYWRkZGRkZF5eXmNjY2NjY2NjY2NjY2NjY/SFPv4AAAArdFJOUwCfIDwYBKvfYJdUlRQXkfuW8xWTE5KQcBEWEpQem5eUFp4RHZwcG6edmh/EA9J3AAABDUlEQVRYw+3U1w6CQBCF4bUg2BURe+/O+7+fAqKwbpmBxHgx5w7i/wU1ixA8Ho/H4/H+cs7EKRU4DWiQBCk43wCgWcf3+/AZVKrp5WkFQBKmYRykwuEIQBKmvVeQCMsrAEmY995BJNx3ACQh08fCBbKz/xfP3z+7ivDc3A3bMwTj3MddT9AERU8SgpGiJwgddY8WtD1S6Cy0PUrwTT1C8DfG3ir4bUtvEWb23iigeoOwHaB6rdDF9hqB0CuF7prQC9HqS+8H6fwPa7YXhixQ+69vQXp+m4Dr9QK21wn4Xi1QepVA678Fai8L9D4vFOmzQrH+IxTtU6F4nwhl+uhsYs6fUSjZ83g8Ho/H+/kehCKDfVIQ7iEAAAAASUVORK5CYII=");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center right 10px;
}
select:not([multiple]) option {
  padding: 0 10px;
}

.test {
  box-shadow: inset 0 0 0 1px red, 0 0 0 1px red;
}

.test2 {
  background-color: green;
}

.test3 {
  background-color: orange;
}

.test4 {
  background-color: red;
}

.test5 {
  background-color: yellow;
}

/*# sourceMappingURL=style.css.map */
