$checkbox-width: 20px;
$checkbox-color: #337AB7;


.radio-custom,
.checkbox-custom {
  margin-bottom: $checkbox-width * 0.67;
  label,
  label:before,
  label:after {
    @include trans(0.08s);
  }
}
//====================================
//              CHECKBOX             =
//====================================
.checkbox-custom {
  input[type="checkbox"] {
    display: none;
    & + label {
      padding-left: $checkbox-width * 1.3;
      @include prefix(user-select, none);
      position: relative;
      &:after {
        content: "";
        z-index: 1;
        width: $checkbox-width;
        height: $checkbox-width;
        position: absolute;
        top: 50%;
        left: 0;
        @include translate(0, -50%);
        border: ($checkbox-width / 10) solid fade-in($checkbox-color, .8);
      }
      &:before {
        content: "\f00c";
        z-index: 2;
        display: block;
        width: $checkbox-width;
        line-height: $checkbox-width;
        position: absolute;
        top: 50%;
        left: 0;
        text-align: center;
        @include prefix(transform, translate(0, -50%) scale(0));
        color: $checkbox-color;
        font-family: FontAwesome;
        font-size: $checkbox-width * 0.7;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
    &:not(:checked) + label:after {
      border-color: fade-in($checkbox-color, .7);
    }
    &:not(:checked) + label:hover:after {
      border-color: $checkbox-color;
    }
    &:checked + label:after {
      border-color: $checkbox-color;
    }
    &:checked + label:before {
      @include prefix(transform, translate(0, -50%) scale(1));
    }
    &[disabled] {
      & + label {
        cursor: not-allowed;
        cursor: disabled;
      }
    }
  }
  &.checkbox-fill {
    input[type="checkbox"] {
      & + label {
        &:before {
          color: #fff;
          @include prefix(transition-delay, 0.05s);
        }
      }
      &:checked + label:after {
        background-color: $checkbox-color;
      }
      &:checked + label:before {
        color: #fff;
        @include prefix(transform, translate(0, -50%) scale(1));
      }
    }

  }
}
//--------  End of checkbox  ---------//










//====================================
//              RADIO             =
//====================================
.radio-custom {
  display: inline-block;
  margin-right: 20px;
  input[type="radio"] {
    display: none;
    & + label {
      padding-left: $checkbox-width * 1.3;
      @include prefix(user-select, none);
      position: relative;
      &:after {
        content: "";
        width: $checkbox-width;
        height: $checkbox-width;
        position: absolute;
        top: 50%;
        left: 0;
        @include translate(0, -50%);
        border: ($checkbox-width / 10) solid fade-in($checkbox-color, .8);
        border-radius: $checkbox-width;
      }
      &:before {
        content: "\f111";
        display: block;
        width: $checkbox-width;
        height: $checkbox-width;
        line-height: $checkbox-width;
        position: absolute;
        top: 50%;
        left: 0;
        text-align: center;
        @include prefix(transform, translate(0, -50%) scale(0));
        color: $checkbox-color;
        font-family: FontAwesome;
        font-size: $checkbox-width * 0.5;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
    &:not(:checked) + label:after {
      border-color: fade-in($checkbox-color, .7);
    }
    &:not(:checked) + label:hover:after {
      border-color: $checkbox-color;
    }
    &:checked + label:after {
      border-color: $checkbox-color;
    }
    &:checked + label:before {
      @include prefix(transform, translate(0, -50%) scale(1));
    }
  }
}
//--------  End of radio  ---------//