// change to false if its not imported into bootstrap
$use-bootstrap: true;

// margin and padding values array
$space-values : (
  5,
  10,
  15,
  20,
  30,
  40,
  50
) !default;

// margin and padding shorthands
$space-prefixes : (
  p  : padding,
  pt : padding-top,
  pl : padding-left,
  pr : padding-right,
  pb : padding-bottom,
  m  : margin,
  mt : margin-top,
  ml : margin-left,
  mr : margin-right,
  mb : margin-bottom,
) !default;

// change these if its not imported into bootstrap
$grid-breakpoints-custom: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 34em,
  // Medium screen / tablet
  md: 48em,
  // Large screen / desktop
  lg: 62em,
  // Extra large screen / wide desktop
  xl: 75em
) !default;

$breakpoints : $grid-breakpoints-custom;
@if $use-bootstrap {
  $breakpoints : $grid-breakpoints;
}


// main function definition
@mixin make-space($name, $values, $prefixes) {
  @each $attr-short, $attr-long in $prefixes {
    @each $value in $values {
      .#{$name}-#{$attr-short}-#{$value} {
        #{$attr-long}: #{$value};
      }
    }
  }
}


// global range
@include make-space(xs, $space-values, $space-prefixes);

// sm and up
@include media-breakpoint-up(sm, $breakpoints) {
  @include make-space(sm, $space-values, $space-prefixes);
}
// md and up
@include media-breakpoint-up(md, $breakpoints) {
  @include make-space(md, $space-values, $space-prefixes);
}
// lg and up
@include media-breakpoint-up(lg, $breakpoints) {
  @include make-space(lg, $space-values, $space-prefixes);
}
// xl
@include media-breakpoint-up(xl, $breakpoints) {
  @include make-space(xl, $space-values, $space-prefixes);
}
