/**
!    Blank-less
!    http://www.proje.com
!    Omer Aslanbakan
!    omer@aslanbakan.com
!    http://aslanbakan.com
*/
@import "../scss-bootstrap/_variables";
@import "_vars";
@import "_function";
@import "_common";
@import "_easing";
@import "_font-size";


@mixin clearfix {
  display: inline-block;
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  html & { height: 1px }
}




@mixin img-responsive($display: block) {
  display: $display;
  max-width: 100%; // Part 1: Set a maximum relative to the parent
  height: auto; // Part 2: Scale the height according to the width, otherwise you get stretching
}

.img-responsive {
  @include img-responsive(inline-block);
}









.parent {
  @include opacity(.5);
}
