//==========================================
//              COMMON STYLES              =
//==========================================
// font family
.f1 { .f1(); }
.f2 { .f2(); }
.f3 { .f3(); }
.f4 { .f4(); }
.f5 { .f5(); }


// font weight
.fw-loop-function(@i) when (@i > 0) {
  @x : @i *100;
  .fz@{x} {
    font-weight: @x;
  }
  .fw-loop-function(@i - 1);
}
// .fw-loop-function(9);


// font size
@max-font-size: 50;
.fz-loop-function(@i) when (@i > 5) {
  .fz@{i} {
    font-size: ~"@{i}px";
  }
  .fz-loop-function(@i - 1);
}
// .fz-loop-function(@max-font-size);






/////////////
// loading //
/////////////
.loading {
  .loading(@width: 36px,  @height: 36px,  @color:red,  @duration: 0.7s,  @border: 3px);
}


/////////
// dim //
/////////
.dim {
  .dim();
}





.fa() {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




//////////////
// position //
//////////////
.static {
  position: relative;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
/////////////
// display //
/////////////
.show {
  display: block;
}
.hidden {
  display: none;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}
////////////////
// visibility //
////////////////
.visible-on {
  visibility: visible;
}
.visible-off {
  visibility: hidden;
}
/////////////
// opacity //
/////////////
.opacity0 {
  opacity: 0;
}
.opacity1 {
  opacity: 1;
}




.cursor-pointer {
  cursor: pointer;
}
.cursor-help {
  cursor: help;;
}
.cursor-default {
  cursor: default;;
}




.non-select {
  .prefix(user-select, none);
}




///////////////////
// full with img //
///////////////////
.img-scale {
  width: 100%;
  height: auto;
}





/////////////////////
// textarea resize //
/////////////////////
.resize-vertical {
  resize: vertical;
}
.resize-horizontal {
  resize: horizontal;
}
.resize-none {
  resize: none;
}





/////////////////
//hidden visually //
/////////////////
.hidden-visually,
.hidden-input {
  .hidden-visually();
}




//=================================================
//              ICON CLASS ANIMATION              =
//=================================================
i.icon-2x { font-size: 110%; }
i.icon-3x { font-size: 130%; }
i.icon-4x { font-size: 160%; }
i.icon-5x { font-size: 200%; }
i.icon-6x { font-size: 260%; }
i.icon-7x { font-size: 320%; }
i.icon-8x { font-size: 400%; }
i.icon-9x { font-size: 500%; }
i.icon-10x{ font-size: 700%; }
.icon-spin {
  display: inline-block;
  .prefix(animation, spin 4s infinite linear);
}
.keyframes(spin, {
  0% {
    .rotate(0deg);
  }
  100% {
    .rotate(359deg);
  }
});
//-----  End of ICON CLASS ANIMATION  ------//




.trans100 {
  .transition(100ms);
}
.trans150 {
  .transition(150ms);
}
.trans200 {
  .transition(200ms);
}
.trans250 {
  .transition(250ms);
}
.trans300 {
  .transition(300ms);
}
.trans350 {
  .transition(350ms);
}
.trans400 {
  .transition(400ms);
}
.trans450 {
  .transition(450ms);
}
.trans500 {
  .transition(500ms);
}
.trans1000 {
  .transition(1000ms);
}




//========================================
//              INPUT STYLES             =
//========================================
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
input {
  &:invalid {
    box-shadow: none;
  }
  &:-moz-submit-invalid {
    box-shadow: none;
  }
  &:-moz-ui-invalid {
    box-shadow:none;
  }
}
//--------  End of input styles  ---------//