@max-font-size: 50;
@min-font-size: 5;


// global
.make-font-size(xs);


// mobile
@media (min-width: @screen-sm) {
  .make-font-size(sm);
}

// tablet
@media (min-width: @screen-md) {
  .make-font-size(md);
}

// desktop
@media (min-width: @screen-lg) {
  .make-font-size(lg);
}

// large screens
/*@media (min-width: @screen-xl) {
  .make-font-size(xl);
}*/


.make-font-size (@prefix) {
  .loop-function (@i) when (@i > @min-font-size - 1) {
    .@{prefix}-fz-@{i} {
      font-size: ~"@{i}px";
    }
    .loop-function(@i - 1);
  }
  .loop-function (@max-font-size);
}