@mixin linear() {
  -webkit-transition-timing-function: linear;
     -moz-transition-timing-function: linear;
      -ms-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
}

@mixin ease() {
  -webkit-transition-timing-function: ease;
     -moz-transition-timing-function: ease;
      -ms-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
}

@mixin ease-in() {
  -webkit-transition-timing-function: ease-in;
     -moz-transition-timing-function: ease-in;
      -ms-transition-timing-function: ease-in;
       -o-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}

@mixin ease-out() {
  -webkit-transition-timing-function: ease-out;
     -moz-transition-timing-function: ease-out;
      -ms-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

@mixin ease-in-out() {
  -webkit-transition-timing-function: ease-in-out;
     -moz-transition-timing-function: ease-in-out;
      -ms-transition-timing-function: ease-in-out;
       -o-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

@mixin easeInQuad() {
  -webkit-transition-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530);
     -moz-transition-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530);
      -ms-transition-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530);
       -o-transition-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530);
          transition-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530);
}

@mixin easeInCubic() {
  -webkit-transition-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
     -moz-transition-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
      -ms-transition-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
       -o-transition-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
          transition-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
}

@mixin easeInQuart() {
  -webkit-transition-timing-function: cubic-bezier(0.895, 0.030, 0.685, 0.220);
     -moz-transition-timing-function: cubic-bezier(0.895, 0.030, 0.685, 0.220);
      -ms-transition-timing-function: cubic-bezier(0.895, 0.030, 0.685, 0.220);
       -o-transition-timing-function: cubic-bezier(0.895, 0.030, 0.685, 0.220);
          transition-timing-function: cubic-bezier(0.895, 0.030, 0.685, 0.220);
}

@mixin easeInQuint() {
 -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
   -moz-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -ms-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
     -o-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
}

@mixin easeInSine() {
  -webkit-transition-timing-function: cubic-bezier(0.470, 0.000, 0.745, 0.715);
     -moz-transition-timing-function: cubic-bezier(0.470, 0.000, 0.745, 0.715);
      -ms-transition-timing-function: cubic-bezier(0.470, 0.000, 0.745, 0.715);
       -o-transition-timing-function: cubic-bezier(0.470, 0.000, 0.745, 0.715);
          transition-timing-function: cubic-bezier(0.470, 0.000, 0.745, 0.715);
}

@mixin easeInExpo() {
  -webkit-transition-timing-function: cubic-bezier(0.950, 0.050, 0.795, 0.035);
     -moz-transition-timing-function: cubic-bezier(0.950, 0.050, 0.795, 0.035);
      -ms-transition-timing-function: cubic-bezier(0.950, 0.050, 0.795, 0.035);
       -o-transition-timing-function: cubic-bezier(0.950, 0.050, 0.795, 0.035);
          transition-timing-function: cubic-bezier(0.950, 0.050, 0.795, 0.035);
}

@mixin easeInCirc() {
  -webkit-transition-timing-function: cubic-bezier(0.600, 0.040, 0.980, 0.335);
     -moz-transition-timing-function: cubic-bezier(0.600, 0.040, 0.980, 0.335);
      -ms-transition-timing-function: cubic-bezier(0.600, 0.040, 0.980, 0.335);
       -o-transition-timing-function: cubic-bezier(0.600, 0.040, 0.980, 0.335);
          transition-timing-function: cubic-bezier(0.600, 0.040, 0.980, 0.335);
}

@mixin easeInBack() {
  -webkit-transition-timing-function: cubic-bezier(0.600, 0, 0.735, 0.045); // older webkit
  -webkit-transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045);
     -moz-transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045);
      -ms-transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045);
       -o-transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045);
          transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045);
}

@mixin easeOutQuad() {
  -webkit-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
     -moz-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
      -ms-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
       -o-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
          transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

@mixin easeOutCubic() {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
     -moz-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      -ms-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
       -o-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
          transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

@mixin easeOutQuart() {
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
     -moz-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
      -ms-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
       -o-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
          transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

@mixin easeOutQuint() {
  -webkit-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
     -moz-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
      -ms-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
       -o-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
          transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

@mixin easeOutSine() {
  -webkit-transition-timing-function: cubic-bezier(0.390, 0.575, 0.565, 1.000);
     -moz-transition-timing-function: cubic-bezier(0.390, 0.575, 0.565, 1.000);
      -ms-transition-timing-function: cubic-bezier(0.390, 0.575, 0.565, 1.000);
       -o-transition-timing-function: cubic-bezier(0.390, 0.575, 0.565, 1.000);
          transition-timing-function: cubic-bezier(0.390, 0.575, 0.565, 1.000);
}

@mixin easeOutExpo() {
  -webkit-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
     -moz-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
      -ms-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
       -o-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
          transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

@mixin easeOutCirc() {
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
     -moz-transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
      -ms-transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
       -o-transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
          transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
}

@mixin easeOutBack() {
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1); // older webkit
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
     -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
      -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
       -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

@mixin easeInOutQuad() {
  -webkit-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
     -moz-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
      -ms-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
       -o-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
          transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
}

@mixin easeInOutCubic() {
  -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
     -moz-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
      -ms-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
       -o-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
          transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

@mixin easeInOutQuart() {
  -webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
     -moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
      -ms-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
       -o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
          transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

@mixin easeInOutQuint() {
  -webkit-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
     -moz-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
      -ms-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
       -o-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
          transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
}

@mixin easeInOutSine() {
  -webkit-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950);
     -moz-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950);
      -ms-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950);
       -o-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950);
          transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950);
}

@mixin easeInOutExpo() {
  -webkit-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
     -moz-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
      -ms-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
       -o-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
          transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
}

@mixin easeInOutCirc() {
  -webkit-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
     -moz-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
      -ms-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
       -o-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
          transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

@mixin easeInOutBack() {
  -webkit-transition-timing-function: cubic-bezier(0.680, 0, 0.265, 1); // older webkit
  -webkit-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
     -moz-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
      -ms-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
       -o-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
          transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
}