select:not([multiple]) {
  @include prefix(appearance, none);
  background-color: #fff;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 14px 16px;
  background-position: right 12px center;
  background-image: data-uri("../../img/ui/select/12.svg");
  padding-right: 36px;
  option {
    padding: 2px 10px;
  }
  &.input-sm {
    background-size: 10px 14px;
  }
  &.input-lg {
    background-size: 18px 20px;
  }
}