.test1 {
  box-shadow: inset 0 0 0 1px red, 0 0 0 1px red;
}
.test2 {
  background-color: green;
}
.test3 {
  background-color: orange;
}
.test4 {
  background-color: red;
}
.test5 {
  background-color: yellow;
}